{% extends 'base.html' %}
{% block main %}

    <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
      <div id="shopify-section-template--18680031707423__cart-items" class="shopify-section"><link href="//bitcoincapitalist.io/cdn/shop/t/2/assets/component-cart.css?v=61086454150987525971681884298" rel="stylesheet" type="text/css" media="all">
<link href="//bitcoincapitalist.io/cdn/shop/t/2/assets/component-cart-items.css?v=29412722223528841861681884298" rel="stylesheet" type="text/css" media="all">
<link href="//bitcoincapitalist.io/cdn/shop/t/2/assets/component-totals.css?v=86168756436424464851681884298" rel="stylesheet" type="text/css" media="all">
<link href="//bitcoincapitalist.io/cdn/shop/t/2/assets/component-price.css?v=65402837579211014041681884298" rel="stylesheet" type="text/css" media="all">
<link href="//bitcoincapitalist.io/cdn/shop/t/2/assets/component-discounts.css?v=152760482443307489271681884298" rel="stylesheet" type="text/css" media="all">
<link href="//bitcoincapitalist.io/cdn/shop/t/2/assets/component-loading-overlay.css?v=167310470843593579841681884298" rel="stylesheet" type="text/css" media="all">
<style data-shopify="">.section-template--18680031707423__cart-items-padding {
    padding-top: 27px;
    padding-bottom: 27px;
  }

  @media screen and (min-width: 750px) {
    .section-template--18680031707423__cart-items-padding {
      padding-top: 36px;
      padding-bottom: 36px;
    }
  }</style><cart-items class="page-width section-template--18680031707423__cart-items-padding">
  <div class="title-wrapper-with-link">
    <h1 class="title title--primary">Your cart</h1>
    <a href="{{url_for('Catalog')}}" class="underlined-link">Continue shopping</a>
  </div>
{% if cart == {} %}
  <div class="cart__warnings">
    <h1 class="cart__empty-text">Your cart is empty</h1>
    <a href="/collections/all" class="button">
      Continue shopping
    </a></div>
  {% else %}  

  <form action="{{url_for('RemoveCart')}}" class="cart__contents critical-hidden" method="post" id="">
    <div class="cart__items" id="main-cart-items" data-id="template--18680031707423__cart-items">
      <div class="js-contents"><table class="cart-items">
            <caption class="visually-hidden">
              Your cart
            </caption>
            <thead>
              <tr>
                <th class="caption-with-letter-spacing" colspan="2" scope="col">
                  Product
                </th>
                <th class="medium-hide large-up-hide right caption-with-letter-spacing" colspan="1" scope="col">
                  Total
                </th>
                <th class="cart-items__heading--wide small-hide caption-with-letter-spacing" colspan="1" scope="col">
                  Quantity
                </th>
                <th class="small-hide right caption-with-letter-spacing" colspan="1" scope="col">
                  Total
                </th>
              </tr>
            </thead>
            {% for item in cart %}
            <tbody><tr class="cart-item" id="CartItem-1">
                  <td class="cart-item__media">
                    
                      
                      
                      <div class="cart-item__image-container gradient global-media-settings">
                        <img src="{{ item.details['imgsrc'] }}" class="cart-item__image" alt="{{ item.details['Pname'] }}" loading="lazy" width="150" height="113">
                      </div>
                    
                  </td>

                  <td class="cart-item__details">{{ item['details']['name'] }}</a><div class="product-option">
                    ${{ "{:,.2f}".format(item['details']['price']) }}
                      </div><dl></dl>

                      <p class="product-option"></p><ul class="discounts list-unstyled" role="list" aria-label="Discount"></ul>
                  </td>

                  <td class="cart-item__totals right medium-hide large-up-hide">
                    <div class="loading-overlay hidden">
                      <div class="loading-overlay__spinner">
                        <svg aria-hidden="true" focusable="false" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                          <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                        </svg>
                      </div>
                    </div>
                    <div class="cart-item__price-wrapper"><span class="price price--end">
                      ${{ "{:,.2f}".format(item['details']['total_price']) }}

                        </span></div>
                  </td>
                  <td class="cart-item__quantity">
                    <div class="cart-item__quantity-wrapper">
                      <label class="visually-hidden" for="Quantity-1">
                        Quantity
                      </label>
                      <quantity-input class="quantity cart-quantity">
                        <button class="quantity__button no-js-hidden" name="minus" type="button" onclick="event.stopPropagation();">
                          <span class="visually-hidden">Decrease quantity for Whatsminer M50S 132TH 26W Bitcoin Miner</span>
                          <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" class="icon icon-minus" fill="none" viewBox="0 0 10 2">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M.5 1C.5.7.7.5 1 .5h8a.5.5 0 110 1H1A.5.5 0 01.5 1z" fill="currentColor">
</path></svg>

                        </button>
                        <input class="quantity__input" data-quantity-variant-id="47395294282015" type="number" name="updates[]" value="2" data-cart-quantity="2" min="1" step="1" aria-label="Quantity for Whatsminer M50S 132TH 26W Bitcoin Miner" id="Quantity-1" data-index="1">
                        <button class="quantity__button no-js-hidden" name="plus" type="button" onclick="event.stopPropagation();">
                          <span class="visually-hidden">Increase quantity for Whatsminer M50S 132TH 26W Bitcoin Miner</span>
                          <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" class="icon icon-plus" fill="none" viewBox="0 0 10 10">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M1 4.51a.5.5 0 000 1h3.5l.01 3.5a.5.5 0 001-.01V5.5l3.5-.01a.5.5 0 00-.01-1H5.5L5.49.99a.5.5 0 00-1 .01v3.5l-3.5.01H1z" fill="currentColor">
</path></svg>

                        </button>
                      </quantity-input>

                      <cart-remove-button id="Remove-1" data-index="1">
                        <a href="{{url_for('RemoveCart')}}" class="button button--tertiary" aria-label="Remove Whatsminer M50S 132TH 26W Bitcoin Miner">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" aria-hidden="true" focusable="false" class="icon icon-remove">
  <path d="M14 3h-3.53a3.07 3.07 0 00-.6-1.65C9.44.82 8.8.5 8 .5s-1.44.32-1.87.85A3.06 3.06 0 005.53 3H2a.5.5 0 000 1h1.25v10c0 .28.22.5.5.5h8.5a.5.5 0 00.5-.5V4H14a.5.5 0 000-1zM6.91 1.98c.23-.29.58-.48 1.09-.48s.85.19 1.09.48c.2.24.3.6.36 1.02h-2.9c.05-.42.17-.78.36-1.02zm4.84 11.52h-7.5V4h7.5v9.5z" fill="currentColor"></path>
  <path d="M6.55 5.25a.5.5 0 00-.5.5v6a.5.5 0 001 0v-6a.5.5 0 00-.5-.5zM9.45 5.25a.5.5 0 00-.5.5v6a.5.5 0 001 0v-6a.5.5 0 00-.5-.5z" fill="currentColor"></path>
</svg>

                        </a>
                      </cart-remove-button>
                    </div>
                    <div class="cart-item__error" id="Line-item-error-1" role="alert">
                      <small class="cart-item__error-text"></small>
                      <svg aria-hidden="true" focusable="false" class="icon icon-error" viewBox="0 0 13 13">
                        <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"></circle>
                        <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"></circle>
                        <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"></path>
                        <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
                      </path></svg>
                    </div>
                  </td>

                  <!-- <td class="">                  
              
                    <form action="/deleting" method="post">
                               {{ item['details']['quantity'] }}                               
                              
                              
                                  <input type="hidden" name="product_id" value="{{ item['product_id'] }}">
                                  <button type="submit">Remove</button>
                              </form>
                    
                  </td> -->

                  <td class="cart-item__totals right small-hide">
                    <div class="loading-overlay hidden">
                      <div class="loading-overlay__spinner">
                        <svg aria-hidden="true" focusable="false" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                          <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                        </svg>
                      </div>
                    </div>

                    <div class="cart-item__price-wrapper"><span class="price price--end">
                      ${{ "{:,.2f}".format(item['details']['total_price']) }}

                        </span></div>
                  </td>
                </tr></tbody>
                {% endfor %}
          </table></div>
    </div>

    <p class="visually-hidden" id="cart-live-region-text" aria-live="polite" role="status"></p>
    <p class="visually-hidden" id="shopping-cart-line-item-status" aria-live="polite" aria-hidden="true" role="status">
      Loading...
    </p>
  </form>
</cart-items>


</div><div id="shopify-section-template--18680031707423__cart-footer" class="shopify-section cart__footer-wrapper"><link href="//bitcoincapitalist.io/cdn/shop/t/2/assets/component-cart.css?v=61086454150987525971681884298" rel="stylesheet" type="text/css" media="all">
<link href="//bitcoincapitalist.io/cdn/shop/t/2/assets/component-totals.css?v=86168756436424464851681884298" rel="stylesheet" type="text/css" media="all">
<link href="//bitcoincapitalist.io/cdn/shop/t/2/assets/component-price.css?v=65402837579211014041681884298" rel="stylesheet" type="text/css" media="all">
<link href="//bitcoincapitalist.io/cdn/shop/t/2/assets/component-discounts.css?v=152760482443307489271681884298" rel="stylesheet" type="text/css" media="all">

<div class="page-width" id="main-cart-footer" data-id="template--18680031707423__cart-footer">
  <div>
    <div class="cart__footer"><div class="cart__blocks">
        
<div class="js-contents">
                <div class="totals">
                  <h2 class="totals__subtotal">Subtotal</h2>
                  <p class="totals__subtotal-value">${{subtotal}}</p>
                </div>

                <div></div>

                <small class="tax-note caption-large rte">Taxes and shipping calculated at checkout
</small>
              </div>
<div class="cart__ctas">
              <form action="{{url_for('Checkout', _externals=False)}}">
                <input type="hidden" >

          <button type="submit" id="checkout" class="cart__checkout-button button" name="checkout">
                            Check out
                          </button>

              </form>
                
              </div>

        <div id="cart-errors"></div>
      </div>
    </div>
  </div>
</div>

</div>
{% endif %}
    </main>

{% endblock main %}
<script>
  const button = document.getElementById('minus');
  button.disabled = true;
</script>